.lesson-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 3rem 0;
  gap: 1rem;

  md-sys-card {
    flex-grow: 1;
  }

  &__card {
    padding: var(--md-sys-padding-small);
  }
}

@media screen and (min-width: 840px) {
  .lesson-container {
    flex-direction: row;
    flex-wrap: wrap;

    md-sys-card {
      flex-basis: 19rem;
    }
  }
}
