

.timeline {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  margin-top: 2rem;

  .card-title {
    display: flex;
    width: 6.85rem;

    &__content {
      padding: var(--md-sys-padding-small);
      text-transform: uppercase;
      text-align: center;
      font-weight: 800;
    }
  }

  .center-line {
    height: 100%;
    width: 0.2rem;
    left: 3.2rem;
    position: absolute;
    background: var(--md-sys-color-primary-container);
    z-index: -1;
  }

  .content-data {
    margin: 5rem 0;

    &__article:first-child {
      margin-top: 4rem;
    }

    &__article {
      display: flex;
      flex-direction: column;
      margin-top: 10rem;
      position: relative;

      &__hint{
        display: flex;
        padding: 0.5rem;
        justify-content: flex-end;
      }

      &__date {
        top: 0;
        position: absolute;
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 100%;
        background: var(--md-sys-color-primary-container);
        left: 1.35rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;

        &__month, &__year {
          text-align: center;
          font-weight: 900;
        }
      }
    }
  }
}

.left-container, .right-container {
  flex: 1;
  margin-left: 7rem;
}

.left-container {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 840px) {
  .timeline {
    margin-top: 4rem;

    .card-title {
      align-self: center;
    }

    .center-line {
      left: unset;
      align-self: center;
    }

    .content-data {
      &__article {
        justify-content: space-between;

        &__date {
          margin-left: -1.938rem;
          left: 50%;
        }
      }

      &__article:nth-child(odd) {
        flex-direction: row;

      }
      &__article:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
  }

  .left-container, .right-container {
    max-width: 43%;
    margin: 0;
  }
}
