<couple-title-page [backButton]="true" [label]="title"></couple-title-page>

<div class="body-large">
  <p><strong class="on-primary-container-text">1. INTRODUÇÃO (I COR 7:1-5)</strong></p>

  <ul>
    <li>Apesar de ser um assunto descontraído, deve ser lidado com muita seriedade.</li>
    <li>Uma vida sexual plena é fruto de uma intimidade baseada na aliança.</li>
    <li>Um bom sexo não garante um bom casamento, mas uma aliança boa e verdadeira garante um bom sexo.</li>
  </ul>

  <p><strong class="on-primary-container-text">2. DEUS CRIOU O SEXO PARA DESFRUTE E PRAZER</strong></p>

  <ul>
    <li>Tanto o homem quanto a mulher possuem carências de ordem sexuais que devem ser supridas somente no casamento.</li>
    <li>É uma pena que no meio cristão, falar sobre sexo não é algo tão comum e, por incrívei que pareça, ainda soa muito constrangedor mencionar o assunto em nossas reuniões.</li>
    <li>O sexo é a exploração do corpo um do outro, com o objetivo de gerar prazer.</li>
  </ul>

  <span class="on-primary-container-text biblical-passage">Provérbios 5:18,19 | Cânticos 1:2 | Cantares 4:5</span>

  <p><strong class="on-primary-container-text">3. A FREQUENCIA SEXUAL</strong></p>

  <ul>
    <li>O fato de Paulo nos dizer que o nosso corpo pertence ao nosso cônjuge não significa que o sexo deve ser tomado por coerção por qualquer um dos cônjuges.</li>
    <li>Não devemos privar o nosso cônjuge do prazer sexual. Exceto quando haja mútuo consentimento por um período previamente determinado.</li>
  </ul>

  <p><strong class="on-primary-container-text">4. O CICLO SEXUAL (4 FASES)</strong></p>

  <ul>
    <li>FASE DO DESPERTAMENTO</li>
    <li>FASE DO PLATÔ</li>
    <li>FASE DO ORGASMO</li>
    <li>FASE DO RELAXAMENTO</li>
  </ul>

  <p><strong class="on-primary-container-text">5. SITUAÇÕES DESFAVORÁVEIS PARA UMA VIDA SEXUAL SAUDÁVEL</strong></p>

  <ul>
    <li>Excesso de atividades e cansaço fisico/emocional.</li>
    <li>Tédio, falta de criatividade e monotonia (Novas posições, novos lugares).</li>
    <li>Inibições (Religiosidade, culpa, experiencias passadas).</li>
    <li>Tensões, ressentimentos, problemas não resolvidos.</li>
    <li>Crianças (se programe e coloque limites para que não atrapalhe a vida sexual do casal).</li>
    <li>Falta de prioridade (o casal que sempre tem algo mais importante para fazer).</li>
    <li>Frigidez (a "frieza" da mulher, falta de desejo sexual).</li>
    <li>Uso do sexo como moeda de negociação.</li>
    <li>Ejaculação precoce.</li>
    <li>Impotência sexual.</li>
    <li>Menstruação (a bíblia não condena a relação sexual durante este período, cabe ao casal decidir de acordo com a atitude de cada um dos cônjuges).</li>
  </ul>

  <p><strong class="on-primary-container-text">6. O SEXO É APROVADO POR DEUS</strong></p>

  <ul>
    <li>SEXO ORAL: A bíblia não condena esse tipo de sexo, por isso cada casal deve decidir se é válido ou não e entrar em um comum acordo.</li>
    <li>SODOMIA: A bíblia condena a sodomia, ou seja, o sexo anal. I Cor 6:9 | 1Tim 1:10</li>
  </ul>

  <p><strong class="on-primary-container-text">7. A ESCRAVIDÃO DO SEGREDO</strong></p>

  <ul>
    <li>Guardamos segredo pois temos medo da rejeição (reputação).</li>
    <li>Guardamos segredo pois temos medo das perdas (amizades, cônjuge).</li>
    <li>O segredo produz o isolamento. Nos sentimos em débito com as pessoas e temos medo de ser descobertos.</li>
    <li>Os segredos nos fazem retroceder em vez de avançar.</li>
    <li>Segredos nos fazem viver constantemente fazendo compensações. Sofremos situações absurdas para compensar a nossa falha, o nosso segredo.</li>
    <li>Os segredos nos deixam em dívidas com os outros.</li>
  </ul>

  <span class="on-primary-container-text biblical-passage">Se, porém, andamos na luz, como ele está na luz, temos comunhão uns com os outros, e o sangue de Jesus, seu Filho, nos purifica de todo pecado. 1 João 1:7</span>
</div>
