<couple-title-page [backButton]="true" [label]="title"></couple-title-page>

<div class="body-large">
  <p><strong class="on-primary-container-text">1. INTRODUÇÃO</strong></p>

  <ul>
    <li>Imagina se você pudesse honestamente contar tudo o que você sente, pensa, crer, deseja, odeia e sonha para o seu cônjuge?</li>
    <li>A comunicação tornou-se um problema após o pecado.</li>
    <li>Babel simboliza a carne e Pentecostes O Espírito.</li>
    <li>A verdadeira comunicação começa com uma vida no Espírito.</li>
  </ul>

  <p><strong class="on-primary-container-text">2. FALE A VERDADE (Matheus 5:37)</strong></p>

  <ul>
    <li>Nesse trecho vemos que o que passa do sim e do não entra na esfera do maligno.</li>
    <li>Não presuma, escute o que o outro está dizendo e acate como verdade.</li>
    <li>Nunca diga que sabe o que o outro está pensando, você não é Deus.</li>
    <li>Abandone essas palavras nas suas conversar e discussões: SEMPRE e NUNCA</li>
  </ul>

  <p><strong class="on-primary-container-text">3. FAÇA AFIRMAÇÕES E NÃO PERGUNTAS</strong></p>

  <ul>
    <li>A confusão começa quando usamos perguntas para fazer afirmações e afirmações para fazermos perguntas.</li>
  </ul>

  <ul>
    <li><strong class="on-primary-container-text">Pergunta astuta</strong> - Você não acha melhor? A pessoa se sente acuada em concordar. O ideal seria afirmar ao outro o que gostaria que ele fizesse.</li>
    <li><strong class="on-primary-container-text">Pergunta punitiva</strong> - Por que você disse aquilo? A intenção da pergunta é somente recriminar uma atitude. O ideal seria afirmar: Eu não gostei do que você disse.</li>
    <li><strong class="on-primary-container-text">Pergunta autoritária</strong> - Quando é que você vai fazer algo em relação a isso? É uma ordem disfarçada. O melhor seria afirmar: Eu gostaria que você fizesse isso.</li>
    <li><strong class="on-primary-container-text">Pergunta provocadora</strong>  - O que você quis dizer com isso? Não importa o que o outro responda, pois a intenção é provocar uma discussão. Existe uma desconfiança da motivação do outro.</li>
  </ul>

  <ul>
    <li>Se ao fazer uma pergunta não espero de fato uma resposta, então não existe comunicação. Esqueça esses tipos de perguntas e faça afirmações claras.</li>
  </ul>

  <p><strong class="on-primary-container-text">4. SUBSTITUA O VOCÊ PELO EU</strong></p>

  <ul>
    <li>Poucas coisas destroem tanto um relacionamento do que a busca por um culpado.</li>
    <li>Não faça do seu casamento um tribunal.</li>
    <li>A raiva nada mais é do que uma expectativa insatisfeita.</li>
    <li>O ideal seria expressar as expectativas claramente com palavras.</li>
    <li>Quando nosso ego é frustrado, ao invés de usarmos o EU, que seria uma confissão usamos o VOCÊ, procurando um culpado.</li>
  </ul>

  <p><strong class="on-primary-container-text">5. COMPREENDA AS DIFERENÇAS E AS SEMELHANÇAS</strong></p>

  <ul>
    <li>Um casamento feliz não depende do quanto somos compatíveis, mas de como lidamos com nossas incompatibilidades.</li>
    <li>O homem e a mulher são completamente diferentes um do outro. Apesar de sermos diferentes, somos da mesma espécie, ou seja, tudo o que tem nele tem nela.</li>
    <li>Quando entendemos as nossas diferenças, reduziremos drasticamente os problemas na comunicação, pois o homem não vai esperar que a mulher se comunique e reaja como ele, e vice-versa.</li>
  </ul>

  <p><strong class="on-primary-container-text">6. PRINCÍPIOS BÍBLICOS</strong></p>

  <ul>
    <li>Ouça com atenção e não responda antes de ouvir o seu cônjuge falar (Pv 18:13)</li>
    <li>Não seja precipitado com suas palavras (Tiago 1:19 e Pv 29:20)</li>
    <li>Resolva seus problemas conjugais antes de dormir (Ef 4:25,26)</li>
    <li>Não use o silêncio para punir seu cônjuge, antes explique o motivo pelo qual você está hesitando em dar uma resposta imediata (Pv 15:28)</li>
    <li>Não responda ao seu cônjuge com uma ira descontrolada (Pv 14:29)</li>
    <li>Não pague na mesma moeda (Rm 12:17,21)</li>
    <li>Priorize os interesses do seu cônjuge (Fp 2:3)</li>
  </ul>
</div>
