<div class="vow-container">
  <div class="vow-container__left">
    <h3 class="headline-small">Henrique</h3>
    <p class="body-large">
      Hoje nós nos tornaremos marido e mulher. <br>
      Queria que soubesse que pra mim você foi um presente de Deus e, agoraque vamos dividir as nossas vidas, meus dias serão cheios de alegria ao seu lado. <br>
      Estarei ao seu lado nos momentos alegres e tristes e tenho certeza de que juntos conseguiremos concretizar todos os nossos sonhos. Que Deus nos mantenha sempre unidos, apaixonados e felizes.
    </p>
  </div>
  <div class="vow-container__divider"></div>
  <div class="vow-container__right">
    <h3 class="headline-small">Isabela</h3>
    <p class="body-large">
      Henrique, você é o meu parceiro da vida, com você divido as minhas inseguranças, meus sonhos e conquistas, obrigada por estar comigo nos momentos bons e ruins, quero que nossa parceria continue pelo resto de nossas vidas.<br>
      Eu prometo ser fiel, paciente, compreensiva, amorosa e estar sempre presente na saúde ou doença, em momentos felizes ou tristes, com dinheiro ou sem. <br>
      Sei que Deus nos uniu, para juntos conquistarmos muitas coisas, amadurecermos, ter uma família e crescer espiritualmente, amo você e quero estar ao seu lado para sempre.
    </p>
  </div>
</div>

