.vow-container {
  display: flex;
  flex-direction: column;

  &__left, &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }

  &__divider {
    border-bottom: 1px solid var(--md-sys-color-outline-variant);
    margin: 2.5rem 0;
  }
}

@media screen and (min-width: 960px) {
  .vow-container {
    flex-direction: row;

    &__left, &__right {
      justify-content: flex-start;
      padding: 2.5rem 2.5rem;
    }

    &__divider {
      border-bottom: unset;
      border-right: 1px solid var(--md-sys-color-outline-variant);
      margin: 2.5rem;
    }
  }
}
