<couple-title-page [backButton]="true" label="Pais e filhos"></couple-title-page>

<div class="body-large">
  <p><strong class="on-primary-container-text">1. INTRODUÇÃO</strong></p>

  <span>Mas no principio da criação Deus os fez homem e mulher. Por esta razão, o homem deixará pai e mãe e se unirá à sua mulher, e os dois se tornarão uma só carne. Assim, eles já não são dois, mas sim uma só carne. Portanto, o que Deus uniu, ninguém o separe. <strong class="on-primary-container-text">Marcos 10:6-9</strong></span>

  <ul>
    <li>O homem, como cabeça, é responsável por estabelecer os padrões de vida, os valores e comportamento da família.</li>
    <li>A esposa educa no dia dia, mas éO marido que define esses padrões.</li>
  </ul>

  <p><strong class="on-primary-container-text">2. NOSSOS FILHOS NÃO SÃO NOSSOS</strong></p>

  <ul>
    <li><strong class="on-primary-container-text">I Sam 1:11</strong> - Ana pede um filho a Deus e promete entregá-lo de volta.</li>
    <li>Ana desiste de criar o seu filho pois sabia do propósito que Deus tinha com ele.</li>
  </ul>

  <span>"O homem deixará pai e mãe" - seu filho vai embora, mas seu cônjuge é para a vida inteira, até que a morte os separe.</span>

  <ul>
    <li><strong class="on-primary-container-text">Gen 22:2-3</strong>  - Abraão não hesitou em entregar seu filho para Deus. Por causa dessa entrega de Abraão, Deus também entrega seu único filho para abençoar todas as famílias da Terra.</li>
    <li>A sua superproteção pode impedir seu filho de cumprir o propósito pelo qual ele foi criado. Seja um impulsionador para seus filhos. <strong class="on-primary-container-text">Salmo 127:3-5</strong></li>
  </ul>

  <p><strong class="on-primary-container-text">3. EDUCAR NOSSOS FILHOS NO SENHOR</strong></p>

  <ul>
    <li><strong class="on-primary-container-text">Pv 22:6</strong> - Devemos ensinar a criança no caminho ela não se desviará dele.</li>
    <li><strong class="on-primary-container-text">Dt 6:6-7</strong> - Use de todas as oportunidades que tiver para compartilhar algo sobre Deus aos seus filhos. Conte as maravilhas que Ele já fez, ensine princípios.</li>
    <li><strong class="on-primary-container-text">Ef 6:4</strong> - Não provocar a ira no seu filho, mas ensiná-lo o caminho do Senhor.</li>
    <li><strong class="on-primary-container-text">Hb 12:7-9</strong> - Deus corrige e disciplina seus filhos. Nós devemos corrigir e disciplinar os nossos filhos. A bíblia nos ensina a corrigir, admoestar uns aos outros, quanto mais nossos filhos, que são a herança que Deus colocou aos nossos cuidados.</li>
  </ul>
</div>

<div class="divider-lesson">
  <md-sys-divider></md-sys-divider>
</div>

<couple-title-page label="Finanças"></couple-title-page>

<div class="body-large">
  <p><strong class="on-primary-container-text">1. INTRODUÇÃO</strong></p>

  <span>Mateus capítulo 25 conta a história dos talentos <br>
    Nós não cremos na teoria da prosperidade nem na teoria da pobreza. <br>
    Cremos que somos mordomos dos bens de Deus. Ele é o dono do ouro de prata.</span>

  <ul>
    <li>Devemos ser mordomos fiéis.</li>
    <li>Riqueza é diferente de prosperidade</li>
    <li>A promessa de Deus é para sermos prósperos. Ser próspero é fazer crescer, avançar.</li>
  </ul>

  <span>IBGE diz que os problemas relacionados a finanças são a causa principal dos divórcios no Brasil. Cerca de 57% dos divórcios.</span>

  <p><strong class="on-primary-container-text">2. PRINCÍPIOS SOBRE FINANÇAS PARA O NOSSO CASAMENTO</strong></p>

  <ul>
    <li>Ore pelo aumento do seu rendimento.</li>
    <li>Seja agradecido pelo que vocês construíram e possuem.</li>
    <li>Não sacrifique sua família com jornadas de trabalhos absurdas.</li>
    <li>Não existe o meu dinheiro nem o seu dinheiro. Somos mordomos, lembra? O dinheiro é de Deus e nós (uma só carne) cuidamos disso juntos.</li>
    <li>Não existe o meu carro e o seu carro, agora tudo é nosso. Jesus, quando se fez um comigo, ele me deu tudo o que Ele tinha. A individualidade não existe mais, nem nas finanças.</li>
    <li>
      Quais são os motivos que você não quer juntar o dinheiro? <br>
      Confiança? Orgulho? Controle? Egoísmo?
    </li>
    <li>O homem, por ser o cabeça, é responsável pelas finanças da casa.Se a mulher administra melhor essa área, o ideal é que ela assuma essa tarefa, mas isso não transfere essa responsabilidade para ela.</li>
    <li>Seja generoso com seu cônjuge e com o seu próximo.</li>
  </ul>
</div>
