<couple-title-page [backButton]="true" [label]="title"></couple-title-page>

<div class="body-large">
  <p><strong class="on-primary-container-text">1. INTRODUÇÃO</strong></p>

  <ul>
    <li>O que a biblia nos diz sobre o casamento e o que a biblia nos diz sobre os cônjuges.</li>
    <li>Tem gente que está disposto a dar a vida pelo seu casamento, mas não pelo seu cônjuge!</li>
    <li>A relação não pode valer mais do que a pessoa que nos relacionamos.</li>
    <li>O casamento requer manutenção, trabalho e esforço dedicado.</li>
    <li>Sem o temor de Deus, a presença do Espírito Santo e os princípios da Palavra, o casamento torna-se somente um contrato temporário.</li>
  </ul>

  <p><strong class="on-primary-container-text">2. ALIANÇA NO CASAMENTO</strong></p>

  <ul>
    <li>Foi Deus quem estabeleceu o casamento, não é uma invenção humana.</li>
    <li>O casamento é algo espiritual. As coisas espirituais só podem ser discernidas por pessoas espirituais.</li>
    <li>O casamento humano é uma representação do que vai acontecer futuramente: o casamento de Jesus e a Igreja, sua noiva.</li>
    <li>O divórcio não tem lugar no plano de Deus.</li>
    <li>O casamento é uma aliança! O amor e a paixão são essenciais, mas quem sustenta o casamento é a aliança..</li>
  </ul>

  <p><strong class="on-primary-container-text">3. O QUE É A ALIANÇA?</strong></p>

  <ul>
    <li>Aliança não é um contrato. O contrato é limitado e a aliança é ilimitada.</li>
    <li>A maioria dos casamentos vivem um contrato comercial e não uma aliança.</li>
    <li>A aliança é unilateral. A sua fidelidade não depende da fidelidade do seu cônjuge!</li>
  </ul>

  <p><strong class="on-primary-container-text">4. ELEMENTOS DA ALIANÇA</strong></p>

  <ul>
    <li><strong class="on-primary-container-text">Termos</strong> - Os parceiros devem se cobrar mutualmente dentro dos termos da aliança.</li>
    <li><strong class="on-primary-container-text">Juramento</strong> - Todo casamento possui o ato de um juramento ou voto que não pode ser revogado.</li>
    <li><strong class="on-primary-container-text">Maldição</strong> - No antigo testamento, a punição para a quebra de uma aliança era a morte.
      Hoje, para aqueles que estão debaixo da graça de Jesus, não há condenação nem morte, mas existem consequências naturais do nosso pecado</li>
    <li><strong class="on-primary-container-text">Sinal</strong> - Ela é ratificada por meio de um sinal. Hoje: anéis de ouro e troca de nomes.</li>
  </ul>

  <p><strong class="on-primary-container-text">5. CONCLUSÃO</strong></p>

  <ul>
    <li>A aliança deve ser cumprida, ainda que foi feita de forma irresponsável ou impensada.</li>
    <li>Foi uma decisão voluntária, ninguém te obrigou. Tudo na vida é uma questão de decisão.</li>
  </ul>
</div>
