<couple-title-page [backButton]="true" [label]="title"></couple-title-page>

<div class="body-large">
  <p><strong class="on-primary-container-text">1. INTRODUÇÃO</strong></p>

  <ul>
    <li>Deus colocou uma ordem divina no casamento. Deus não organizou o mundo, Ele ordenou o mundo.</li>
    <li>Adão foi criado primeiro, era o cabeça da família (1Co 11.3). Eva foi formada a partir de a Adão, o corpo da família.</li>
    <li>O anjo caído é um anjo fora do lugar. No Éden: anjo fora do lugar, mulher fora do lugar, homem fora do lugar causaram um caos.</li>
    <li>No que diz respeito à história, a mulher foi enganada e caiu, mas no que diz respeito à interpretação de Deus, Adão foi considerado o responsável, porque ele era o cabeça.</li>
    <li>É Deus quem une o homem e sua mulher para que os dois sejam uma só carne (Mt 19.6). No plano natural recebemos a mesma vida humana; no nível espiritual, marido e mulher são co-herdeiros de uma mesma graça de vida (1Pe 3.7).</li>
    <li>Não há nada na Bíblia que diga que a mulher seja mais sensível a Deus que o homem ou que o homem seja superior à sua mulher. Eles são iguais.</li>
  </ul>

  <p><strong class="on-primary-container-text">2. A ORDENAÇÃO DE DEUS</strong></p>

  <ul>
    <li>A ordem que Deus estabeleceu não tem nada a ver com desigualdade.</li>
    <li>O Pai e o Filho são um, mas o Pai é o cabeça do Filho Jesus, porém eles são iguais.</li>
    <li>O marido só pode ser o cabeça quando ele se submeter a Cristo.</li>
    <li>A mulher só pode reconhecer seu</li>
  </ul>

  <p><strong class="on-primary-container-text">3. RESPONSABILIDADES DO MARIDO</strong></p>

  <ul>
    <li><strong class="on-primary-container-text">LÍDER (Gen 3:16, Efe 5:23, I Tim 3:45)</strong> O marido tem a responsabilidade da liderança. Cabe ao marido também delegar a liderança a mulher em certas áreas. Ser líder não é ter a respostas para todas as questões ou decidir tudo sozinho.</li>
    <li><strong class="on-primary-container-text">PROVEDOR (Gen 3:19)</strong> O homem tem a responsabilidade de manter a sua familia. O marido é o provedor da família. Deus é o provedor dos seus filhos.</li>
    <li><strong class="on-primary-container-text">PROTETOR (Efe 5:29)</strong> Assim como Cristo protege a igreja, o marido é o protetor da família. Proteger é cuidar, trazer segurança, guiar em momentos decisivos e difíceis.</li>
    <li><strong class="on-primary-container-text">SACERDOTE</strong> O homem deve amar e se entregar pela esposa assim como Cristo amou e se entregou pela igreja.</li>
  </ul>

  <p><strong class="on-primary-container-text">4. RESPONSABILIDADES DA ESPOSA</strong></p>

  <ul>
    <li><strong class="on-primary-container-text">AUXILIADORA (PV 31.21,22)</strong> Se, por um lado, O homem é O lider, a mulher é ajudadora. O esposo pode tomar decisões sobre certos assuntos, mas é a esposa que as cumpre.</li>
    <li><strong class="on-primary-container-text">ADMINISTRADORA (Tito 2:4,5)</strong> A esposa não é responsável pelo sustento da família, mas cabe a ela administrar as finanças do lar.</li>
    <li><strong class="on-primary-container-text">AJUDAR NA CARGA FINANCEIRA (Provérbios 31:16-18, 24)</strong>
      A mulher deve ajudar com a carga financeira, se necessário e possível. Algumas vezes, o esposo não ganha
      o suficiente para sustentar a família, Uma motivação errada é quando a mulher
      despreza o papel de esposa e mãe e atribui valor apenas a uma carreira como profissional, sacrificando a família.
    </li>
    <li><strong class="on-primary-container-text">INTERCESSORA</strong>  No Novo Testamento o intercessor é justamente representado por aquele que sofre dores de parto. É responsabilidade dela encher a casa de uma atmosfera de oração.</li>
  </ul>

  <p><strong class="on-primary-container-text">5. CONCLUSÃO</strong></p>

  <ul>
    <li>Grande parte dos conflitos no casamento tem origem na falta de definição das responsabilidades de cada um.</li>
    <li>Constantes discussões, as vezes por coisas simples e que deveriam estar bem definidas. Um dos cônjuges sempre cede, evitando o conflito, mas está cultivando internamente amargura e ressentimento.</li>
  </ul>
</div>
