<couple-title-page [backButton]="true" [label]="title"></couple-title-page>

<div class="body-large">
  <span class="on-primary-container-text biblical-passage">
    Perdoar deve ser nosso estilo de vida.<br>
    Nunca deixe uma mágoa para o dia seguinte
  </span>

  <p><strong class="on-primary-container-text">1. CORAÇÃO PERDOADOR</strong></p>

  <span><strong class="on-tertiary-container-text">A. Somente Deus pode exigir justiça</strong></span>
  <ul>
    <li>Quando Adão pecou, Deus exigiu justiça porque ele é santo.</li>
  </ul>

  <span><strong class="on-tertiary-container-text">B. Não podemos exigir justiça dos homens</strong></span>
  <ul>
    <li>Ao contrário, nós não temos justiça em nós para exigir a perfeição do outro.</li>
    <li>Perdoamos porque fomos generosamente perdoados.</li>
    <li>Não devemos esperar o arrependimento do outro para perdoá-lo.</li>
  </ul>

  <span><strong class="on-tertiary-container-text">C. A falta de perdão nos mantém escravos</strong></span>
  <ul>
    <li>Ao contrário, nós não temos justiça em nós para exigir a perfeição do outro.</li>
    <li>O ressentimento produz fortalezas espirituais que dão brechas para o inimigo.</li>
    <li>A pessoa ofendida fica com o pensamento fixo na pessoa que a ofendeu.</li>
  </ul>

  <p><strong class="on-primary-container-text">2. O QUE FAZER DEPOIS DE UMA OFENSA</strong></p>

  <span><strong class="on-tertiary-container-text">A. A pessoa que ofendeu (Mt 5:23-26)</strong></span>
  <ul>
    <li>Jesus diz que se soubermos de alguém que tem algo contra nós, devemos procurar essa pessoa para reconciliar.</li>
  </ul>

  <span><strong class="on-tertiary-container-text">B. A pessoa que foi ofendida (Mt 18:15)</strong></span>
  <ul>
    <li>A pessoa ofendida não deve comentar com outros a sua mágoa.</li>
    <li>Não deve esperar o arrependimento para perdoar (Jesus e Estevão).</li>
  </ul>

  <p><strong class="on-primary-container-text">3. QUANDO O PERDÃO NÃO É PERDÃO</strong></p>

  <ul>
    <li>O perdão é algo divino e que foi trazido à Terra através de Jesus.</li>
    <li>Somente aquele que possui o Espírito de Cristo pode perdoar genuinamente.</li>
    <li>O perdão de verdade é suportar a penalidade do outro sobre si.</li>
    <li>Todo aquele que perdoa paga um preço enorme.</li>

    <br>
    <span class="on-primary-container-text biblical-passage">É QUANDO PERDOAMOS QUE NOS PARECEMOS MAIS COM JESUS.</span>
    <br>

    <li>Perdão não é perdão quando coloca o outro em uma posição inferior.</li>
    <li>No casamento, quando um cônjuge lembra com frequência a culpa do outro, isso não é perdão. A pessoa perdoada fica em uma posição de "subordinação" e nunca mais poderá reclamar de nada</li>

    <br>
    <span class="on-primary-container-text biblical-passage">O verdadeiro perdão é dado graciosamente, sem esperar receber nada em troca. Jamais coloca o outro em uma posição de dívida e cancela todas as obrigações.</span>
    <br>

    <li>O perdão não é perdão quando a lembrança da ofensa ainda te machuca.</li>
    <li>O perdão não é perdão quando não restaura relacionamentos: "te perdoo, mas nunca mais quero ver sua cara".</li>
    <li>Perdão não é perdão se é dado somente uma vez. Jesus disse para perdoar quantas vezes fosse necessário.</li>
  </ul>

  <p><strong class="on-primary-container-text">4. POR QUE RESISTIMOS EM LIBERAR PERDÃO</strong></p>

  <ul>
    <li>Porque pensamos que se perdoamos, nos tornamos "saco de pancadas".</li>
    <li>Porque pensamos que perdoar significa renunciar à justiça.</li>
    <li>Porque pensamos que perdoar é abrir mão do amor-próprio.</li>
    <li>Porque pensamos que perdoar é ser conivente com os erros dos outros.</li>
    <li>Por causa do nosso egoísmo.</li>
  </ul>

  <p><strong class="on-primary-container-text">5. O PROCESSO DO PERDÃO</strong></p>

  <span class="on-primary-container-text biblical-passage">O perdão não depende de emoção, da mente e nem de sentir vontade.</span>

  <ul>
    <li>Reconheça a dívida - admita que existe mágoa.</li>
    <li>Arrependa-se da amargura - é pecado.</li>
    <li>Tome a decisão de perdoar - abandone o sentimento de justiça própria.</li>
    <li>Ignore as emoções - veja o agressor assim como Deus o vê.</li>
    <li>Abençoe -libere palavras boas e deseje o melhor para a vida do outro.</li>
  </ul>
</div>
